body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c4bcbc;
}

h1, h2, h3{
    color: #333;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.0em;
    margin: 0.5em 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    max-width: 900px;

}

.DatPer {
    background-color: #e7e1e1;

}

.xp,.estd,.ref,.cap,.DatPer {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: justify;    background-color: saddlebrown ;
    max-width: 800;
    background-color: #cfc5c5;
    max-width: 800px;

}

.fotopersonal {
    border-radius: 50%;
    margin-bottom: 20px;
    float: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #524848;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #8a9276;
}

@media (max-width: 768px) {
    .DatPer{
        margin: 10px;
        padding: 15px;
    }

    .fotopersonal {
        width: 150px;
        height: auto;
    }
}
