body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c4bcbc;
}

.container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    max-width: 900px;

}

.calculo{
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;    
    background-color: #c6dfd9;
    max-width: 750px;

}
.enunciado{
    font-family: Arial, sans-serif;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    max-width: 790px;
    background-color: #c6dfd9 ;
}

.forma{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: Arial, sans-serif;
    border-radius: 8px; 
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(156, 134, 134);
  }

h1, h2, h3, h4, h5, h6{
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
}

li{
    font-family: Arial, sans-serif;
    color: #333333;
    line-height: 1.7;
    letter-spacing: 0.5px;
    text-align: justify;

}

