
input {
    font-family: Arial, sans-serif;
    border-radius: 8px; 
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #7d817f;
}
form,.loginForm{
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;    
    background-color: #fff;
    max-width: 800px;
    border-color: #e2e9e6;
}
button{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20pxauto;
    padding: 20px auto;
}
textarea{
    border-radius: 8px;
    font-family: Arial, sans-serif;
    border-radius: 8px; 
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #7d817f;
}
.mensaje{
    font-size: 19px;
}