
input {
    font-family: Arial, sans-serif;
    border-radius: 8px; 
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(156, 134, 134);
}
form{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;    
    background-color: #e6c8c0;
    max-width: 800px;
}
button{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20pxauto;
    padding: 20px auto;
}