body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: red;
    padding: 10px;
    color: white;
    text-align: left;
}

.top-bar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.content {
    background-color: #f0f0f0;
    height: 400px;
    padding: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}